@model Yummy.Models.Recipe
<h2>@Model.Name</h2>
<p><strong>Time:</strong> @Model.Time</p>
<p><strong>Difficulty:</strong> @Model.Difficulty</p>
<p><strong>Likes:</strong> @Model.Likes</p>
<p><strong>Ingredients:</strong> @Model.Ingredients</p>
<p><strong>Process:</strong> @Model.Process</p>
<p><strong>Tips:</strong> @Model.Tips</p>
<a asp-action="Index">Back to list</a>
